<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kanishka</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="card">
        <h2>Kanishka Mohata</h2>
        <h4>Engineer</h4>
        <div class="profile">
            <img src="static/kanishka.jpeg" width="60" height="60" alt="Kanishka's picture">
        </div>
        <p>
            Skills:
        </p>
        <ul>
            <li>Front-end web development</li>
            <li>Python Programming</li>
            <li>Communication skills</li>
        </ul>
        <p>
            Experience
        </p>
            <ul>
                <li>Student council</li>
                <li>Cse(ds) committee</li>
            </ul>
        <div class="link">
        <a id= linkedin href="https://www.linkedin.com/public-profile/settings?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_self_edit_contact-info%3Bldh2%2F5n2Si2RmfIh5PtPHQ%3D%3D"><img src="static/linkedin.avif" width="40",height=40></a>
        <a href="https://github.com/KanishkaMohata21"><img src="static/github.png" width="40",height=40></a>
        </div>
        
    </div>
</body>
</html>