body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    background-color:wheat;
    border: 2px solid black;
    margin: 20px;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4,h2{
    text-align: center;
}

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#linkedin{
    margin-right: 20px;
}